In [4]:
import numpy as np
import pandas as pd
import os
import urllib
%matplotlib inline

In [5]:
url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path = os.path.join("data", "covid")

In [6]:
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path, "WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url,csv_path)

('data\\covid\\WHO-COVID-19-global-data.csv',
 <http.client.HTTPMessage at 0x22b4d4b0748>)

In [7]:
df = pd.read_csv(csv_path)
df.tail()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
152149,2021-10-01,ZW,Zimbabwe,AFRO,335,130820,7,4623
152150,2021-10-02,ZW,Zimbabwe,AFRO,208,131028,1,4624
152151,2021-10-03,ZW,Zimbabwe,AFRO,66,131094,1,4625
152152,2021-10-04,ZW,Zimbabwe,AFRO,35,131129,2,4627
152153,2021-10-05,ZW,Zimbabwe,AFRO,76,131205,0,4627

In [8]:
df_index = df.index
df_index

RangeIndex(start=0, stop=152154, step=1)

In [9]:
df_cols = df.columns
df_cols

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [10]:
df_index.values

array([     0,      1,      2, ..., 152151, 152152, 152153], dtype=int64)

In [11]:
df.values

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2021-10-03', 'ZW', 'Zimbabwe', ..., 131094, 1, 4625],
       ['2021-10-04', 'ZW', 'Zimbabwe', ..., 131129, 2, 4627],
       ['2021-10-05', 'ZW', 'Zimbabwe', ..., 131205, 0, 4627]],
      dtype=object)

In [12]:
df.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [13]:
df.shape

(152154, 8)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152154 entries, 0 to 152153
Data columns (total 8 columns):
Date_reported        152154 non-null object
Country_code         151512 non-null object
Country              152154 non-null object
WHO_region           152154 non-null object
New_cases            152154 non-null int64
Cumulative_cases     152154 non-null int64
New_deaths           152154 non-null int64
Cumulative_deaths    152154 non-null int64
dtypes: int64(4), object(4)
memory usage: 9.3+ MB

In [15]:
df.describe()

           New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  152154.000000      1.521540e+05  152154.000000      152154.000000
mean     1545.638669      3.413599e+05      31.591946        7821.717438
std      9601.620418      2.003593e+06     170.759797       39266.670696
min    -32952.000000      0.000000e+00     -60.000000           0.000000
25%         0.000000      4.100000e+01       0.000000           0.000000
50%        13.000000      4.640000e+03       0.000000          69.000000
75%       375.000000      8.261150e+04       5.000000        1368.000000
max    414188.000000      4.340132e+07    8786.000000      696732.000000

In [18]:
df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint Barthélemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [20]:
df.Country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint Barthélemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [26]:
df.loc[9447:9487, ["Country", "New_cases"]]

      Country  New_cases
9447  Bahamas         13
9448  Bahamas          7
9449  Bahamas         26
9450  Bahamas         43
9451  Bahamas         25
9452  Bahamas         53
9453  Bahamas         22
9454  Bahamas         21
9455  Bahamas         45
9456  Bahamas         58
9457  Bahamas         30
9458  Bahamas         41
9459  Bahamas         62
9460  Bahamas         40
9461  Bahamas         55
9462  Bahamas          9
9463  Bahamas          0
9464  Bahamas          0
9465  Bahamas        176
9466  Bahamas         74
9467  Bahamas          0
9468  Bahamas        170
9469  Bahamas         63
9470  Bahamas         66
9471  Bahamas         40
9472  Bahamas         64
9473  Bahamas          0
9474  Bahamas         96
9475  Bahamas         53
9476  Bahamas         57
9477  Bahamas          0
9478  Bahamas         52
9479  Bahamas         62
9480  Bahamas          0
9481  Bahamas         89
9482  Bahamas         46
9483  Bahamas         25
9484  Bahamas         33
9485  Bahamas         58
9486  Bahamas        110
9487  Bahamas         50

In [27]:
df[df.Country == "Turkey"]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
139956,2020-01-03,TR,Turkey,EURO,0,0,0,0
139957,2020-01-04,TR,Turkey,EURO,0,0,0,0
139958,2020-01-05,TR,Turkey,EURO,0,0,0,0
139959,2020-01-06,TR,Turkey,EURO,0,0,0,0
139960,2020-01-07,TR,Turkey,EURO,0,0,0,0
139961,2020-01-08,TR,Turkey,EURO,0,0,0,0
139962,2020-01-09,TR,Turkey,EURO,0,0,0,0
139963,2020-01-10,TR,Turkey,EURO,0,0,0,0
139964,2020-01-11,TR,Turkey,EURO,0,0,0,0
139965,2020-01-12,TR,Turkey,EURO,0,0,0,0
139966,2020-01-13,TR,Turkey,EURO,0,0,0,0
139967,2020-01-14,TR,Turkey,EURO,0,0,0,0
139968,2020-01-15,TR,Turkey,EURO,0,0,0,0
139969,2020-01-16,TR,Turkey,EURO,0,0,0,0
139970,2020-01-17,TR,Turkey,EURO,0,0,0,0
139971,2020-01-18,TR,Turkey,EURO,0,0,0,0
139972,2020-01-19,TR,Turkey,EURO,0,0,0,0
139973,2020-01-20,TR,Turkey,EURO,0,0,0,0
139974,2020-01-21,TR,Turkey,EURO,0,0,0,0
139975,2020-01-22,TR,Turkey,EURO,0,0,0,0
139976,2020-01-23,TR,Turkey,EURO,0,0,0,0
139977,2020-01-24,TR,Turkey,EURO,0,0,0,0
139978,2020-01-25,TR,Turkey,EURO,0,0,0,0
139979,2020-01-26,TR,Turkey,EURO,0,0,0,0
139980,2020-01-27,TR,Turkey,EURO,0,0,0,0
139981,2020-01-28,TR,Turkey,EURO,0,0,0,0
139982,2020-01-29,TR,Turkey,EURO,0,0,0,0
139983,2020-01-30,TR,Turkey,EURO,0,0,0,0
139984,2020-01-31,TR,Turkey,EURO,0,0,0,0
139985,2020-02-01,TR,Turkey,EURO,0,0,0,0
...,...,...,...,...,...,...,...,...
140568,2021-09-06,TR,Turkey,EURO,19391,6498054,269,58106
140569,2021-09-07,TR,Turkey,EURO,20962,6519016,271,58377
140570,2021-09-08,TR,Turkey,EURO,23638,6542654,274,58651
140571,2021-09-09,TR,Turkey,EURO,23914,6566568,262,58913
140572,2021-09-10,TR,Turkey,EURO,23846,6590414,257,59170
140573,2021-09-11,TR,Turkey,EURO,23562,6613976,214,59384
140574,2021-09-12,TR,Turkey,EURO,22923,6636899,259,59643
140575,2021-09-13,TR,Turkey,EURO,21352,6658251,243,59886
140576,2021-09-14,TR,Turkey,EURO,24613,6682864,231,60117
140577,2021-09-15,TR,Turkey,EURO,27802,6710666,276,60393
140578,2021-09-16,TR,Turkey,EURO,28224,6738890,248,60641
140579,2021-09-17,TR,Turkey,EURO,28118,6767008,262,60903
140580,2021-09-18,TR,Turkey,EURO,27692,6794700,237,61140
140581,2021-09-19,TR,Turkey,EURO,26161,6820861,221,61361
140582,2021-09-20,TR,Turkey,EURO,26398,6847259,213,61574
140583,2021-09-21,TR,Turkey,EURO,27688,6874947,231,61805
140584,2021-09-22,TR,Turkey,EURO,29338,6904285,260,62065
140585,2021-09-23,TR,Turkey,EURO,28168,6932453,242,62307
140586,2021-09-24,TR,Turkey,EURO,27844,6960297,217,62524
140587,2021-09-25,TR,Turkey,EURO,27197,6987494,221,62745
140588,2021-09-26,TR,Turkey,EURO,26145,7013639,193,62938
140589,2021-09-27,TR,Turkey,EURO,25861,7039500,228,63166
140590,2021-09-28,TR,Turkey,EURO,27188,7066688,206,63372
140591,2021-09-29,TR,Turkey,EURO,28892,7095580,239,63611
140592,2021-09-30,TR,Turkey,EURO,29386,7124966,227,63838
140593,2021-10-01,TR,Turkey,EURO,29104,7154070,216,64054
140594,2021-10-02,TR,Turkey,EURO,28873,7182943,210,64264
140595,2021-10-03,TR,Turkey,EURO,27973,7210916,203,64467
140596,2021-10-04,TR,Turkey,EURO,27351,7238267,194,64661
140597,2021-10-05,TR,Turkey,EURO,28810,7267077,248,64909